* {
    margin: 0;
    padding: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family:Source Han Sans CN;
}

li, ul, ol {
    list-style: none
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    outline: none;
}

body {
    background-color: #E5E5E5;
    width: 100%;
    height: 100vh;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.hide {
    display: none !important;
}

#top {
    position: fixed;
    top: 0;
    background-color: #313131;
    height: 48px;
    width: 100%;
    line-height: 48px;
    overflow: hidden;
}

#top-nav {
    display: flex;
    margin-left: 250px;
    height: 48px;
}

#top-nav li {
    width: 120px;
    text-align: center;
}

#top-nav li:hover {
    background-color: rgba(122, 87, 209, 0.4)
}

.top-choose {
    border-top: solid 5px rgba(122, 87, 209, .7);
    background-color: rgba(122, 87, 209, 0.4);
}

#top-nav a {
    color: #E5E5E5;
}

#content {
    display: flex;
    height: 100%;
}

#content>div {
    padding-top: 48px;
}

#side-nav {
    width: 250px;
    /* s */
    background-color: #F2F2F2;
}
