.api-shadow {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.16);
}

#api-nav-new {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    width: 100%;
    border-bottom: solid 1px rgba(189, 189, 189, 0.37);
}

#api-nav-new>div:first-child {
    margin-left: 8px;
    width: 96px;
    height: 32px;
    line-height: 32px;
    border: 1px solid rgba(122, 87, 209, 1);
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    color: #7A57D1;
    font-size: 12px;
    cursor: pointer;
}

#api-nav-new>div:nth-child(2) {
    margin-right: 8px;
    font-size: 12px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    line-height: 20px;
    color: rgba(123, 123, 123, 1);
}

#api-nav-new input {
    margin-right: 4px;
    vertical-align: middle;
}

