
#side-nav ul{
    padding-top: 40px;
}

.side-tabs {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
}


#operation-mine{
    display: flex;
    margin: 24px 0 0 16px;
    /* justify-content: space-around; */
    user-select: none;
}

.side-now {
    background-color: #E5E5E5;
}

.side-tabs:hover {
    background-color: #E5E5E5;
}


.mine-project,
.mine-nozzle {
    /* width: 800px; */
    padding: 0 5px;
    background-color: #fff;
}

.mine-nozzle {
    /* max-width: 800px; */
}

.project-title,
.nozzle-title {
    margin-left: 10px;
    height: 70px;
    line-height: 70px;
    font-size: 20px;
}

.project-pane thead,
.nozzle-pane thead {
    background-color: #F2F2F2;
}

.project-pane thead th {
    padding: 10px 20px;
    border: 0;
    text-align: center;
    vertical-align: bottom;
}

.project-pane tbody td {
    padding: 10px 20px;
    vertical-align: bottom;
    text-align: center;
}

.project-footer,
.nozzle-footer {
    display: flex;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    margin-top: 10px;
    justify-content: flex-end;
    background-color: #F2F2F2;
}

.project-footer div,
.nozzle-footer div {
    margin: 0 5px;
}

.nozzle-title {
    margin-top: 16px;
}

.nozzle-pane thead th {
    padding: 10px 20px;
    border: 0;
    text-align: center;
    vertical-align: bottom;
}

.nozzle-pane tbody td {
    padding: 10px 20px;
    vertical-align: bottom;
    text-align: center;
}

.nozzle-pane tbody tr td span {
    padding: 2px 5px;
    color: #4FC1E9;
    border: 1px solid #4FC1E9;
    border-radius: 5px;
}

#nozzle-item td{
    padding: 5px 10px;
    
    text-align: left;
}

#nozzle-item i {
    padding: 5px ;
    color: #ADADAD;
    background-color: #E5E5E5;
    font-weight: bold;
    border-radius: 5px;
}

.mine-message,
.notice-message {
    width: 240px;
    max-height: 672px;
    margin-right: 25px;
    padding: 28px 24px;
    background-color: #fff;

}

.message-portrait {
    display: flex;
    margin: 10px 0;
    justify-content: center;
    align-content: center;
}

.message-portrait img {
    width: 80px;
    height: 80px;
}

.message-name h4,
.message-email h4{
    margin: 10px 0;
    color: #ADADAD;
}

.message-name p,
.message-email p {
    height: 32px;
    line-height: 32px;
}

#operation-team {
    display: flex;
    margin: 24px 0 0 20px;
    /* justify-content: space-around; */
    user-select: none;
}

.team-about {
    display: flex;
    padding-left: 16px;
    height: 600px;
    background-color: #fff;

}

.team-item {
    width: 280px;
}

.item-title,
.member-title {
    height: 72px;
    line-height: 72px;
} 

.item-title {
    margin-left: 16px;
}

.item-list li {
    height: 40px;
    line-height: 40px;
    text-align: left;
}

.team-member {
    width: 850px;
    padding: 0 16px; 
    background-color: #F2F2F2;
}

.team-member i {
    font-style: normal;
}

.team-member img{
    width: 40px;
    height: 40px;
}

.member-title {
    margin-left: 32px;
}

.member-creator li {
    display: flex;
    padding: 10px 150px 10px 10px;
    background-color: #fff;
    
}

.creator-message,
.joiner-message {
    margin-left: 10px;
}

.creator-message span {
    color: #7A57D1;
}

.creator-message i {
    color: #5BE7C4;
}

.creator-email,
.joiner-email {
    color: #ADADAD;
}

.member-creator,
.member-joiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 32px;
}

.member-joiner li {
    display: flex;
    margin: 10px 0;
    padding: 10px 150px 10px 10px;
    background-color: #fff;
}

.joiner-message i {
    color: #4FC1E9;
}

li.joiner-add {
    font-size: 20px;
    padding: 10px 218px 10px 10px;
    background-color: #F2F2F2;
    border: 1px solid #ADADAD;
}

.joiner-add p {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    color: #ADADAD;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    box-sizing: border-box;
}

.joiner-add div {
    margin-left: 10px;
    height: 40px;
    line-height: 40px;
}

#operation-notice{
    display: flex;
    margin: 24px 0 0 16px;
    /* justify-content: space-around; */
    user-select: none;
}

.notice-deal {
    width: 800px;
    padding: 0 32px;
    background-color: #fff;
}

.notice-title {
    height: 72px;
    line-height: 72px;
    color: #7B7B7B;
}

.notice-invite {
    display: flex;
    flex-wrap: wrap;
}

.notice-invite img {
    width: 40px;
    height: 40px;
}

.invite-message {
    margin: 0 100px 0 10px;
    color: #7B7B7B;
}

.invite-message span {
    margin: 0 3px;
}

.invite-message strong {
    color: #7A57D1;
}

.notice-invite li {
    display: flex;
    padding: 5px 20px;
    margin: 10px 0;
    width: 528px;
    align-items: center;
    border-bottom: 1px solid #E5E5E5;
    
}

.invite-confirm button {
    width: 48px;
    height: 24px;
    line-height: 24px;
    border: none;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
}

.invite-confirm button:first-child {
    color: #fff;
    background-color: #5BE7C4;
}