
#side-nav ul{
    padding-top: 40px;
}

.side-tabs {
    height: 70px;
    line-height: 70px;
    font-size: 22px;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
}


.operation-mine{
    display: flex;
    margin: 24px 15px 10px 16px;
    /* justify-content: space-around; */
    user-select: none;
}

.side-now {
    background-color: #E5E5E5;
}

.side-tabs:hover {
    background-color: #E5E5E5;
}


.mine-project,
.mine-nozzle {
    min-width: 100%;
    /* padding: 0 5px; */
    background-color: #fff;
}

.project-title,
.nozzle-title {
    margin-left: 10px;
    height: 70px;
    line-height: 70px;
    font-size: 20px;
}

.nozzle-pane {
    width: 100%;
}

.project-pane thead,
.nozzle-pane thead {
    background-color: #F2F2F2;
}

.project-pane thead th {
    padding: 10px 20px;
    border: 0;
    text-align: center;
    vertical-align: bottom;
}

.project-pane tbody td {
    padding: 10px 20px;
    vertical-align: bottom;
    text-align: center;
}

.project-footer,
.nozzle-footer {
    display: flex;
    height: 40px;
    padding: 0 50px;
    margin-top: 10px;
    justify-content: flex-end;
    background-color: #F2F2F2;
    align-items: center;
}

.project-footer div,
.nozzle-footer div {
    margin: 0 5px;
}

.nozzle-pane thead th {
    padding: 10px 20px;
    border: 0;
    text-align: left;
    vertical-align: bottom;
}


.nozzle-pane tbody td {
    padding: 10px 20px;
    vertical-align: bottom;
    text-align: left;
}

.nozzle-pane tbody tr td span {
    padding: 2px 5px;
    /* color: #4FC1E9;
    border: 1px solid #4FC1E9; */
    border-radius: 5px;
}

.nozzle-border-blue {
    border: 1px solid rgba(79, 193, 233, 1);
    color: rgba(79, 193, 233, 1);
}

.nozzle-border-green {
    border: 1px solid rgba(91, 231, 196, 1);
    color: rgba(91, 231, 196, 1);
}

.nozzle-border-yellow {
    color: rgba(246, 194, 79, 1);
    border: 1px solid rgba(246, 194, 79, 1);
}

.nozzle-border-red {
    border: 1px solid rgba(243, 109, 112, 1);
    color: rgba(243, 109, 112, 1);
}

#nozzle-page-ul {
    display: flex;
}

#nozzle-page-ul li {
    margin: 0 3px;
    padding: 0 2px;
    border-radius: 3px;
    cursor: pointer;
}

#nozzle-page-ul li:hover {
    background-color: #fff;
    
}

#nozzle-page-ul .page-choose {
    background-color: #fff;
}

.nozzle-switch {
    display: flex;
}

.nozzle-footer-pre,
.nozzle-footer-nxt {
    cursor: pointer;
}

#nozzle-topage {
    width: 60px;
    border: 1px solid #313131;
    text-indent: 3px;
    border-radius: 5px;
}


#nozzle-list tr td,
#nozzle-item td{
    text-align: left;
    font-size: 11px;
    /* overflow: hidden; */
    white-space: nowrap;
    /* text-overflow: ellipsis; */
}

#nozzle-item i {
    padding: 5px ;
    color: #ADADAD;
    background-color: #E5E5E5;
    font-weight: bold;
    border-radius: 5px;
    white-space: nowrap;
}

.mine-message,
.notice-message {
    flex: 1;
    min-height: 580px;
    margin-right: 20px;
    padding: 28px 24px;
    background-color: #fff;

}

.mine-relate,
.notice-deal {
    flex: 4;
}

.message-portrait {
    position: relative;
    display: flex;
    margin: 20px 0;
    justify-content: center;
    align-content: center;
}

.message-portrait img {
    width: 80px;
    height: 80px;
}

.portrait-upload {
    position: absolute;
    width: 80px;
    height: 80px;
}

.upload-file {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
    cursor: pointer;
}

.message-name h4,
.message-email h4{
    margin: 10px 0;
    color: #ADADAD;
}

.message-name p,
.message-email p {
    height: 32px;
    line-height: 32px;
}

#mine-nickname {
    width: 100px;
    text-indent: 2px;
    white-space: nowrap;
    overflow: hidden;
}

#message-edit {
    width: 25px;
    height: 25px;
    vertical-align: bottom;
    cursor: pointer;
}

.message-btn {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.message-btn button {
    width: 80px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #313131;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    cursor: pointer;
}

.message-btn button:last-child {
    color: #fff;
    background-color: #7A57D1;
}

.operation-team {
    display: flex;
    margin: 24px 15px 10px 16px;
    /* justify-content: space-around; */
    user-select: none;
}

.team-about {
    margin-right: 10px;
    display: flex;
    min-height: 620px;
    width: 100%;
    background-color: #fff;

}

.team-item {
    flex: 1;
    padding-top: 28px;
    overflow: hidden;
}


.member-title {
    height: 72px;
    line-height: 72px;
} 

.item-title {
    margin: 0 0 10px 24px;
    white-space: nowrap;
    overflow: hidden;
} 


.item-list li {
    padding-left: 16px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    cursor: pointer;
}

.item-list li:hover {
    background-color: #F2F2F2;
}

.item-choose {
    background-color: #F2F2F2;
}

.team-member {
    flex: 4;
    padding: 0 16px; 
    background-color: #F2F2F2;
}

.team-member i {
    font-style: normal;
}

.team-member img{
    width: 40px;
    height: 40px;
}

.member-title {
    margin-left: 32px;
}

.member-creator li {
    position: relative;
    display: flex;
    padding: 10px;
    background-color: #fff;
    min-width: 44%;
}

.creator-message,
.joiner-message {
    flex: 1;
    margin-left: 10px;
}

.creator-message span {
    color: #7A57D1;
}

.creator-message i {
    color: #5BE7C4;
}

.creator-email,
.joiner-email {
    color: #ADADAD;
}

#creator-more,
.joiner-more {
    cursor: pointer;
}


.member-creator,
.member-joiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 32px;
}

.member-joiner li {
    position: relative;
    display: flex;
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    min-width: 44%;
}

.joiner-message i {
    color: #4FC1E9;
}

#creator-exit,
.joiner-exit {
    position: absolute;
    padding: 5px 15px;
    right: 30px;
    bottom: -10px;
    color: #7B7B7B;
    background-color: #fff;
    border: 1px solid #ADADAD;
    cursor: pointer;
}


#creator-exit:hover,
.joiner-exit:hover {
    background-color: #ADADAD;
}

.joiner-exit-cancel {
    display: flex;
    position: absolute;
    right: -6px;
    top: -10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #7A57D1;
    border-radius: 50%;
    justify-content: center;
    z-index: 5;
}

li.joiner-add {
    font-size: 20px;
    background-color: #F2F2F2;
    border: 1px solid #ADADAD;
    cursor: pointer;
}

.joiner-add p {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    color: #ADADAD;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    box-sizing: border-box;
}

.joiner-add div {
    margin-left: 10px;
    height: 40px;
    line-height: 40px;
}

.operation-notice{
    display: flex;
    margin: 24px 15px 10px 16px;
    /* justify-content: space-around; */
    user-select: none;
}

.notice-deal {
    background-color: #fff;
}

.notice-title {
    padding: 0 32px;
    height: 72px;
    line-height: 72px;
    color: #7B7B7B;
}

.notice-invite {
    display: flex;
    padding: 0 32px;
    flex-wrap: wrap;
}

.notice-invite img {
    width: 40px;
    height: 40px;
}



.invite-message {
    flex: 1;
    margin: 0 100px 0 10px;
    color: #7B7B7B;
}

.invite-message span {
    margin: 0 3px;
}

.invite-message strong {
    color: #7A57D1;
}

.notice-invite li {
    display: flex;
    padding: 5px 20px;
    margin: 10px 0;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid #E5E5E5;
    
}

.invite-confirm button {
    width: 48px;
    height: 24px;
    line-height: 24px;
    border: none;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
}

.invite-confirm button:first-child {
    color: #fff;
    background-color: #5BE7C4;
}

.joiner-add-container {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: rgba(0,0,0,0.1);
}

.add-pane {
    background-color: #fff;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius:6px;
}

.add-title {
    color: #7B7B7B;
}

.add-search {
    display: flex;
    margin: 15px 0;
    /* padding-left: 4px; */
    align-items: center;
    border: 1px solid #707070;
    border-radius: 8px;
}

.add-search input {
    width: 300px;
    text-indent: 3px;
}

.add-search img {
    width: 24px;
    height: 24px;
}

.add-btn {
    margin-left: 70px;
}

.add-btn button {
    margin: 0 10px;
    width: 92px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    font-weight: bold;
    color: #313131;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    cursor: pointer;
}

#add-invite {
    background-color: #7A57D1;
    border: none;
    color: rgb(255,255,255);
    /* opacity: 0.4; */
}

.add-search-result {

}

.add-search-result li {

}

#alert-div {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    min-width: 220px;
    width: 20%;
    max-width: 420px;
    padding: 42px 30px;
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    color: #000;
    box-shadow: 0 1px 8px rgba(0, 0, 0, .2);
    overflow: hidden;
    z-index: 999;
}